@import url('https://fonts.cdnfonts.com/css/satoshi');

:root{
    --satoshi:'Satoshi', sans-serif;
    --clash:'Clash Display', sans-serif;
    --black:#22202E;
    --primary:#2A254B
}
*{
  box-sizing: border-box;
  font-weight: 400;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }


}
body{
  font-family: var(--satoshi);
  font-size: 16px;
  margin: 0;
  padding: 0;

}
img{
  max-width: 100%;
  
}
.container{
  max-width:1440px ;
  margin:auto;
}